NEXT_PUBLIC_BROKER_URL=https://broker.marque.run
NEXT_PUBLIC_BROKER_BEARER_TOKEN=replace-with-broker-token
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_ONESHOT_RELAYER_URL=https://relayer.1shotapi.com/relayers
NEXT_PUBLIC_MINT_CONTRACT=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_BROKER_FLOAT_ADDRESS=0x0000000000000000000000000000000000000000
